<nav class="navbar">
  <div class="logo">
    <!-- Aquí puedes agregar el logo de tu sitio web -->
    <a routerLink="/movies"><img src="./logo.png" alt="Logo"></a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/movies">Películas</a></li>
    <li><a routerLink="/movies-by-genre">Géneros</a></li>
    <li><a routerLink="/add-movie">Agregar más películas</a></li>
    <li><a routerLink="/add-genre">Agregar géneros</a></li>
    <!-- <li><a routerLink="/edit-movie/:id">Modificado</a></li> -->
    <li><a routerLink="/listar">Lista</a></li>
  </ul>
</nav>
